.dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #d1d1d1;
}
section:first-of-type {
  border-top: 1px solid #d1d1d1;
}
/* section {
  border-top: 1px solid #d1d1d1;
}
section:last-of-type {
  border-bottom: 1px solid #d1d1d1;
} */

.dropdown__header > h3 {
  font-size: 12px;
  font-weight: bold;
}

.dropdown__header > .angle__icon {
  font-size: 10px;
}

li {
  padding: 0 15px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}
li > p {
  padding: 0;
}

.product__li {
  font-size: 10px;
}
.quantity__li {
  font-size: 8px;
  color: #d1d1d1;
}

.hide {
  display: none;
}
