.header__section {
  height: 10vh;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}
.stox__logo {
  height: 60px;
  margin-bottom: 5px;
}

.close__header {
  font-size: 22px;
}

.burger__menu {
  width: 40px;
}
