.header__section {
  height: 10vh;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
}
.stox__logo {
  height: 80px;
}

.close__header {
  font-size: 22px;
}
